In [47]:
import pandas as pd
import numpy as np

In [48]:
labels = ['a', 'b', 'c']
data_list = [10, 20, 30]
array = np.array([10, 20, 30])
d = { 'a': 10, 'b': 20, 'c': 30 }

In [49]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [50]:
pd.Series(labels, data_list)

10    a
20    b
30    c
dtype: object

In [51]:
series_1 = pd.Series([1, 2, 3, 4], index = ['USA', 'Germany', 'Italy', 'Japan'])
series_1

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [52]:
series_2 = pd.Series([1, 2, 5, 4], index = ['USA', 'Germany', 'Russia', 'Japan'])

In [53]:
series_2

USA        1
Germany    2
Russia     5
Japan      4
dtype: int64

In [54]:
series_1[['Germany', 'Italy']]

Germany    2
Italy      3
dtype: int64

In [ ]:
series_1 + series_2