In [63]:
import pandas as pd
from numpy.random import randn

In [64]:
df = pd.DataFrame(randn(5,4), index=["A", "B", "C", "D", "E"], columns="W X Y Z".split())

In [65]:
df

          W         X         Y         Z
A  0.383027  0.654070 -0.915187 -0.828618
B  0.694222 -0.233211  0.487811  0.240013
C  0.229846 -0.868232  0.536741 -0.018039
D -0.332275 -0.221735 -0.319078 -0.122588
E -0.734295 -1.703523 -0.903713 -0.327587

In [66]:
df[["W"]]

          W
A  0.383027
B  0.694222
C  0.229846
D -0.332275
E -0.734295

In [67]:
df["new"] = df["W"] + df["Y"]

In [68]:
df[["new"]]

        new
A -0.532160
B  1.182033
C  0.766587
D -0.651353
E -1.638007

In [69]:
df.drop("new", axis=1, inplace=True)

In [70]:
df.loc[['A']]

          W        X         Y         Z
A  0.383027  0.65407 -0.915187 -0.828618

In [71]:
df.iloc[0, 2]

          W         X         Y         Z
A  0.383027  0.654070 -0.915187 -0.828618
C  0.229846 -0.868232  0.536741 -0.018039